{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <title>Create New Customer</title>
    
</head>
<body>
  <form method="post" enctype="multipart/form-data" class="form-control">
  {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
    <a href="{% url 'users_list' %}" class="btn btn-outline-danger">Cancel</a>
  </form>
</body>
</html>
